<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="main-navbar">
    <div class="custom-nav container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="brand" href="/home">ds.me</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="top" role="presentation" sec:authorize="isAuthenticated()">
                    <a class="navbar-link">Welcome <span th:text="${#authentication.principal.username}"/>!</a>
                </li>
                <li class="top" role="presentation">
                    <a class="navbar-link" href="/posts">View All Posts</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="top" role="presentation" sec:authorize="!isAuthenticated()">
                    <a class="navbar-link" href="/users/register">Register</a>
                </li>
                <li class="top" role="presentation" sec:authorize="!isAuthenticated()">
                    <a class="navbar-link" href="/login">Log-In</a>
                </li>
                <li class="top" role="presentation" sec:authorize="isAuthenticated()">
                    <a class="navbar-link" href="/posts/create">Create New Post</a>
                </li>
                <li class="logout" role="presentation" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post" class="navbar-form">
                        <div class="form-group">
                            <button class="btn-link btn navbar-link">Logout</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>